<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panton Bakery</title>
    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/adminstyle.css">
    
    <!-- ********<link rel="stylesheet" href="/index.css">小心******** -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
</head>

<body>

    <!-- #00nav  Navbar Start-->
    <div id="00nav">
        <div class="center_logo">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-cus bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand bg-warning" href="/" target="_blank">CmsshoppingCart </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="nav navbar-nav bg-dark">
                    <!-- ********   <a class="nav-link first-l" href="./about.html">About</a>
                        <a class="nav-link second-l" href="./menu.html">Menu</a>
                        <a class="nav-link third-l" href="./contact.html">Contact Us</a>小心******** -->
                        <li><a href="/admin/pages">Pages</a></li>
                        <li><a href="/admin/categories">Categories</a></li>
                        <li><a href="/admin/products">Products</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right bg-dark">
                       
                        <li><a href="/users/logout">Logout</a></li>
                    </ul>


                    
                </div>
                <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
                    <!-- test git compare 2 -->
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                                <!-- ********   <a class="nav-link " href="./order.html"><img src="./image/shopping_cart.svg" width="20px"小心******** -->
                                    alt=""><span class="cart-icon">0</span></a>
                        </li>
                    </ul>
                </div>
                <!-- Logo fix at the center -->
                <div class="nav-logo">
                  <!-- ********         <a href="./index.html"><img src="./image/logo_bg.svg" alt="" width="100px"></a>小心******** -->
                </div>
            </nav>
        </div>
    </div>

    <!-- #00nav Navbar end -->

    <!-- *************Where Content Start************* -->

    <!-- #01home Home Start -->
    <section id="01home">
        <div class="content-container">
            <!-- Home welcome image -->
            <div class="px-4">
                <img src="./image/home_bg.jpg" width="100%" height="60%">
            </div>
            <!-- Top Picks Container -->
            <div class="top-pack d-flex flex-column p-4 align-items-center">
                <!-- Title -->
                <h1 class="m-1">Our <span>Top</span> Picks</h1>
                <!-- Product image  -->
                <div class="d-flex flex-row justify-content-around">
                    <div class="card text-center m-3" style="width: 16rem;">
                        <img class="card-img-top" src="./image/top_pick_01.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title card-odd">Strawberry Macaron</h5>
                        </div>
                    </div>
                    <div class="card text-center m-3" style="width: 16rem;">
                        <img class="card-img-top" src="./image/top_pick_02.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title card-even">chocolate Lava Cookies</h5>
                        </div>
                    </div>
                    <div class="card text-center m-3" style="width: 16rem;">
                        <img class="card-img-top" src="./image/top_pick_03.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title card-odd">Mixed Coffee Macaron</h5>
                        </div>
                    </div>
                    <div class="card text-center m-3" style="width: 16rem;">
                        <img class="card-img-top" src="./image/top_pick_04.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title card-even">Snow Snow Candy Balls</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- menu container -->
            <div class="home-menu d-flex flex-column p-4 align-items-center">
                <!-- Title -->
                <h1 class="m-3">Try Our Our <span>Full</span> Menu</h1>
                <!-- link to menu icon -->
                <!-- ***** <a class="m-3" href="./menu.html">小心******** --><img src="./image/link_to_menu.svg" alt=""></a>
                <!-- detail container -->
                <div class="detail-container m-3 d-flex flex-row">
                    <div class="detail d-flex flex-column m-3 p-3 align-items-center">
                        <img class="m-3" src="./image/detail_01.svg" width="65rem">
                        <h5 class="first">Freshly Bake Everyday</h5>
                    </div>
                    <div class="detail d-flex flex-column m-3 p-3 align-items-center">
                        <img class="m-3" src="./image/detail_02.svg" width="65rem">
                        <h5 class="second">Free Local Delivery Over HKD 300</h5>
                    </div>
                    <div class="detail d-flex flex-column m-3 p-3 align-items-center">
                        <img class="m-3" src="./image/detail_03.svg" width="65rem">
                        <h5 class="third">Massive Production Available on request</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #01home Home End -->
    <div class="container">
        <%- messages('messages', locals) %>

        <% if (errors) {%>
            <% errors.forEach(function(error){ %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
    <% }); %>
    <% } %>
    </div>

<!---->

